# Salin file ini menjadi .env lalu isi dengan koneksi Neon PostgreSQL Anda
# Copy this file to .env and fill with your Neon PostgreSQL connection link
DATABASE_URL=postgres://alex:my-secret-password@ep-cool-darkness-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
